<%- include('./partials/header') %>
<h1>Hello World</h1>
<% projects.forEach(p => { %>
  <div>
    <img src=" <%=p.img %> ">
    <h3><a href="/projects/<%= p._id %>"><%= p.projectName %></a></h3>
    <p><%= p.description %></p>
    <h4>Funding Status</h4>
    <h4>
      <%= p.pledges.reduce(function(acc,cur){return acc += cur.pledgeAmount}, 0) %> / <%= p.target %>
    </h4> 
  </div>
<% }) %>
<%- include('./partials/footer') %>
