<%- include('./partials/header') %>
<div class="main">
  <div id="explore-container">
    <% projects.forEach(p => { %>
      <div class="project-tile">
        <img src=" <%=p.img %> ">
        <div class="tile-content">
          <h4><%= p.projectName %></h4>
          <p><%= p.description %></p>
          <div class="funding-status">
            <p>Funding Status</p>
            <p class="money-green">
              <%= `$${p.pledges.reduce(function(acc,cur){return acc += cur.pledgeAmount}, 0).toLocaleString("en-US")}` %> / <%= `$${p.target.toLocaleString("en-US")}` %>
            </p>
          </div> 
          <a href="/projects/<%= p._id %>" class="primary-button">Details</a>
        </div>
      </div>
    <% }) %>
  </div>
</div>
  
<%- include('./partials/footer') %>
